<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>download</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <div class="container">
        <iframe class="d-flex" width="1000px" height="500px" src="<%= url %>"></iframe>
        <form target="_blank" action="/playback">
            <div class="container">
                <select name="url" id="url">
                    <% for(format of info){ %>
                        <option value="<%= format.url %>"><%= format.mimeType.split(";")[0] %> <%= format.hasVideo
                            ? format.height + "p" : "" %></option>    
                      <% } %>
                    </select>
                    <input class="btn btn--download btn--download--final" type="submit" value="Download">
            </div>
            </form>
        </div>
</body>
</html>